body {
    background: rgb(185, 235, 241);
}

.card {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}

.photo {
    height: 300px;
    width: 250px;
  }

  .cent{
      text-align: center;
  }